<h1>Welcome index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<h1> hi there, again! </h1>
<button onclick="window.open('http://www.9gag.com', '_blank')"> hehe </button>

<%= link_to 'my posts!', controller: 'articles' %>